
Body {
  font-family: helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity:0.9;

}

/* header */
.header {
  display: flex;
  Position: fixed;
  background-color: Black;
  height: 69px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  z-index: 4;
  }

  .header .logo {
    padding-left: 10px;
    height: 50px;
  }

  .header a {
      color: seashell;
      text-decoration: underline;
  }
/* main */

.main {
  display: inline-flex;
  flex-direction: column;
}
/* mission section */
.mission {
  padding-top:70px;
  display: flex;
  flex-direction: column;
  height: 700px;
  width:1000px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  justify-content: center;
  align-items: center;
  z-index: 1;
  }

.mission h2, .mission h4{
  background: black;
  width: 100%;
  text-align: center;
  margin:0px;
  padding:15px;
}

.teamonth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:1000px;
}

.teamonth h2, .teamonth h2 {
  margin:60px 0px 0px 0px;
  padding 15px;
}

.teas {
display: inline-flex;
flex-wrap: wrap;
}

.berry,
.teas .spiced,
.teas .donuts,
.teas .myrtle,
.teas .bedford {
  width: 300px;
  hight: 200px;
}
